<?xml version="1.0"?>
<config>
    <modules>
        <IE_HoneySearch>
            <version>1.0.0</version>
        </IE_HoneySearch>
    </modules>
    <global>
        <blocks>
            <ie_honeysearch>
                <class>IE_HoneySearch_Block</class>
            </ie_honeysearch>
        </blocks>
        <helpers>
            <ie_honeysearch>
                <class>IE_HoneySearch_Helper</class>
            </ie_honeysearch>
        </helpers>
        <models>
            <ie_honeysearch>
                <class>IE_HoneySearch_Model</class>
            </ie_honeysearch>
        </models>
    </global>
    <frontend>
        <routers>
            <ie_honeysearch>
                <use>standard</use>
                <args>
                    <module>IE_HoneySearch</module>
                    <frontName>honeysearch</frontName>
                </args>
            </ie_honeysearch>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <ie_honeysearch>
                        <class>ie_honeysearch/observer</class>
                        <method>controllerActionPredispatch</method>
                    </ie_honeysearch>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
</config>
